<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="SauceDemo Test Suite">
    <listeners>
        <listener class-name="io.qameta.allure.testng.AllureTestNg" />
        <listener class-name="com.saucedemo.tests.ListenerClass" />
    </listeners>

    <test name="Login Test">
        <parameter name="username" value="standard_user" />
        <parameter name="password" value="secret_sauce" />
        <classes>
            <class name="com.saucedemo.tests.LoginTest" />
        </classes>
    </test>
</suite>